@import "tailwindcss";

body {
  margin: 0;
  background-color: #1b1b1b;
  color: #333;
  font-family: "devil breeze", serif;
  font-size: 14px;
  background: url("./img/background.jpeg") no-repeat fixed;
  background-size: cover;
}
*::-webkit-scrollbar {
  width: 0;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  margin: auto;
  padding: 2rem;
  height: 110vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 4rem;
  scroll-snap-stop: normal;
}
.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.content-fit {
  margin: auto;
  min-height: calc(100vh - 2rem);
  position: relative;
  padding-block: 10em;
}

.title {
  color: #333;
  background-color: transparent;
  font-size: 10vw;
  font-family: "devil breeze", serif;
  position: relative;
  overflow: visible;
  text-align: center;
}

.title.show-before::before {
  opacity: 1;
  transform: scaleY(-1) translateY(-0.44lh);
}

.icon {
  padding: 1rem;
}
p {
  background-color: #191616de;
  color: rgba(255, 255, 255, 0.844);
  padding: 0.75rem;
  border-radius: 15px;
  height: fit-content;
  text-align: left;
}
img {
  border: solid 4px black;
  border-radius: 50%;
  height: auto;
}
#contact .content-fit {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  height: auto;
  padding-top: 2rem;
}
#contact table {
  padding-top: 2em;
  font-size: 2em;
  margin: auto;
}
#contact table td {
  padding-block: 0.5em;
  border-bottom: 1px dashed #445022;
}
#contact table td:nth-child(1) {
  text-align: left;
  font-weight: 500;
}
#contact table td:nth-child(2) {
  text-align: right;
  font-weight: 200;
}
#contact .sign {
  font-size: 10em;
}
/* footer {
  display: flex;
  float: right;
  color: #333;
  margin-right: 5%;
  margin-bottom: 20px;
  z-index: 100;
} */
