@import "tailwindcss";

body {
  margin: 0;
  background-color: #1b1b1b;
  color: #333;
  font-family: "devil breeze";
  font-size: 14px;
  background: url("./img/background.jpeg") no-repeat fixed;
  background-size: cover;
}
*::-webkit-scrollbar {
  width: 0;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  margin: auto;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.section {
  min-height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-fit {
  margin: auto;
  min-height: 100vh;
  position: relative;
  padding-block: 10em;
}
header {
  padding-block: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10px;
  backdrop-filter: blur(20px);
  z-index: 100;
  background-color: #1b1b1b11;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0 500px,
    #eee1 500px 501px
  );
}
nav li {
  display: flex;
  padding: 0 1rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}
nav li:hover {
  transform: scale(1.2);
  font-weight: bolder;
  text-decoration: underline;
}
#banner .title {
  color: #333;
  font-size: 11em;
  font-family: "devil breeze";
  font-weight: bold;
  position: relative;
  overflow: visible;
  text-align: center;
}
#banner .title::before {
  content: attr(data-before);
  position: absolute;
  z-index: -1;
  color: #333;
  mask: linear-gradient(
    to bottom,
    #000 -80%,
    oklch(0 0 0/0),
    #000,
    oklch(0 0 0/0) 200%
  );
  transform: scaleY(-1) translateY(-0.44lh);
}
.icon {
  font-size: 6rem;
  padding: 1rem;
}
p {
  background-color: #191616de;
  color: rgba(255, 255, 255, 0.844);
  padding: 0.75rem;
  border-radius: 15px;
  font-size: 1.25rem;
}
img {
  border: solid 4px black;
  border-radius: 50%;
  width: 300px;
  height: auto;
}
#contact .content-fit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 120vh;
}
#contact table {
  width: min(800px, 90vw);
  padding-top: 2em;
  font-size: 2em;
  margin: auto;
}
#contact table td {
  padding-block: 0.5em;
  border-bottom: 1px dashed #445022;
}
#contact table td:nth-child(1) {
  text-align: left;
  font-weight: 500;
}
#contact table td:nth-child(2) {
  text-align: right;
  font-weight: 200;
}
#contact .sign {
  font-size: 10em;
}
footer {
  display: flex;
  float: right;
  color: #333;
  margin-right: 5%;
  margin-bottom: 20px;
  background-color: transparent;
}
@keyframes banner-opening {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0px);
  }
}
.animateBanner {
  animation: banner-opening 2s ease-in-out forwards;
}
@keyframes passion-opening {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.animatePassion {
  animation: passion-opening 2s ease-in-out forwards;
  animation-delay: 0.2s;
}
